@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    padding-top: 80px;
}


.meal-history {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

.day {
    margin-bottom: 40px;
}

.day h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.meals {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meal {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.meal img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.meal-info p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}
